<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{url}}/index.html">
                <img src="{{url}}/resources/img/usi.svg" class="nav-usi-logo" alt="USI Logo">
                <span class="brand-text">REMEDI Lab</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{url}}/index.html">Home</a>
                </li>
                <li>
                    <a href="{{url}}/team.html">Team</a>
                </li>
                <li>
                    <a href="{{url}}/research.html">Research</a>
                </li>
                <li>
                    <a href="{{url}}/publications.html">Publications</a>
                </li>
                <li>
                    <a href="{{url}}/contact.html">Join Us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
